/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	background: black;
	font-family: "Verdana", sans-serif;
	text-align: center;
}
h1, h2 ,a, p {
	font-family: "Verdana", sans-serif;
}
h1 {
	color: white;
	font-size: 50px;
	margin-bottom: 75px;
}
.title {
	font-size: 50px;
	color: white;
	justify-content: center;
	font-family: "Verdana", sans-serif;
}
a {
	color: aquamarine;
	font-size: 16px;
}
h2 {
	color: white;
	font-weight: 300;
	font-size: 42px;
	margin-bottom: 50px;
}
p {
	color: gray;
	font-size: 21px;
	margin-bottom: 25px;
}
.fa-copyright {
	color: gray;
	text-align: right;
}
.copyright p {
	text-align: right;
}
.camp {
	width: 75%;
}
.phone {
	margin-top: 25px;
	margin-bottom: 50px;
}
footer {
	text-align: right;
	font-family: "Verdana", sans-serif;
}